:root {
  --basic-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --button-bkg-color: #2196f3;
  --hero-bcg-color: #2f303a;
  --hero-border-bottom: #ececec;
  --social-media-color: #afb1b8;
  --section-team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

a {
  display: block;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

.section-title {
  color: var(--basic-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.section {
  padding: 94px 0;
}

.decoration {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
  /* outline: 2px solid bisque; */
  padding: 0 15px;
}

.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  border: none;
  background-color: var(--button-bkg-color);
  color: var(--hero-title-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--animation-cubic), -webkit-box-shadow 250ms var(--animation-cubic);
  transition: background-color 250ms var(--animation-cubic), -webkit-box-shadow 250ms var(--animation-cubic);
  transition: background-color 250ms var(--animation-cubic), box-shadow 250ms var(--animation-cubic);
  transition: background-color 250ms var(--animation-cubic), box-shadow 250ms var(--animation-cubic), -webkit-box-shadow 250ms var(--animation-cubic);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.header {
  color: var(--basic-color);
  background-color: #ffffff;
  border-bottom: 1px solid var(--hero-border-bottom);
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-logo {
  margin-right: 93px;
}

.logo {
  margin-right: 93px;
  color: var(--accent-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo:hover,
.logo:focus {
  cursor: pointer;
}

.logo .logo--dark {
  color: var(--basic-color);
}

.footer__logo--white {
  color: var(--hero-title-color);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.14;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--basic-color);
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  -webkit-transition: color 250ms var(--animation-cubic);
  transition: color 250ms var(--animation-cubic);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav--current {
  color: var(--accent-color);
}

.site-nav__item {
  position: relative;
}

.site-nav--current::after {
  content: "";
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  position: absolute;
  background-color: var(--button-bkg-color);
  border-radius: 2px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__item {
  margin-left: 50px;
}

.contacts__item:first-child {
  margin-left: 0px;
}

.contacts__link {
  color: var(--text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 32px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--animation-cubic);
  transition: color 250ms var(--animation-cubic);
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  text-align: center;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  /* fill: #2196f3; */
}

.hero {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/studio.images/hero.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/studio.images/hero.jpg);
  padding: 200px 0;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hero__title {
  text-transform: uppercase;
  color: var(--hero-title-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0 auto 30px auto;
}

/* ----------------HERO BUTTON--------------- */
.hero__button {
  padding: 10px 32px;
  text-align: center;
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.benefits__item {
  margin-left: 30px;
  /* display: block; */
}

.benefits__item:first-child {
  margin-left: 0;
}

.benefits__title {
  text-transform: uppercase;
  color: var(--basic-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}

.benefits__box {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.benefits__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
}

.section-occupation {
  padding-top: 0;
}

.occupation__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* margin-right: -15px;
  margin-left: -15px; */
}

.occupation__item {
  margin-left: 30px;
}

.occupation__item:first-child {
  margin-left: 0;
}

.occupation__thumb {
  position: relative;
}

.occupation__text {
  position: absolute;
  bottom: 0;
  height: 70px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  background-color: #f5f4fa;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}

.team__content {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item {
  background-color: #fff;
  /* overflow: hidden; */
  -webkit-box-shadow: var(--section-team-shadow);
          box-shadow: var(--section-team-shadow);
  border-radius: 0px 0px 4px 4px;
}

.team__item {
  margin-left: 30px;
}

.team__item:first-child {
  margin-left: 0;
}

/* ----------------TEAM SPECIALTY--------------- */
.team__member {
  color: var(--basic-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 10px;
}

.team__specialty {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}

/* Team icons */
.soc-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc-media__link {
  width: 44px;
  height: 44px;
  color: var(--social-media-color);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms var(--animation-cubic), background-color 250ms var(--animation-cubic);
  transition: color 250ms var(--animation-cubic), background-color 250ms var(--animation-cubic);
}

.soc-media__item {
  margin-right: 10px;
}

.soc-media__item:last-child {
  margin-right: 0;
}

.icon-social {
  fill: currentColor;
}

/* .team-soc-media .icon-soc-media {
  color: currentColor;
} */
.soc-media__link:hover,
.soc-media__link:focus {
  background-color: var(--button-bkg-color);
  color: #ffffff;
}

/* Footer icon */
.social-media__item {
  margin-right: 10px;
}

.social-media__item:last-child {
  margin-right: 0;
}

.social-media {
  margin-right: 93px;
}

.social-media__link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  -webkit-transition: background-color 250ms var(--animation-cubic);
  transition: background-color 250ms var(--animation-cubic);
}

.social-media__icon {
  fill: currentColor;
}

.social-media__link:hover,
.social-media__link:focus {
  background-color: var(--accent-color);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: var(--social-media-color);
  -webkit-transition: color 250ms var(--animation-cubic), background-color 250ms var(--animation-cubic);
  transition: color 250ms var(--animation-cubic), background-color 250ms var(--animation-cubic);
}

.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--button-bkg-color);
  border: 1px solid var(--button-bkg-color);
}

.footer {
  background-color: var(--hero-bcg-color);
  padding: 60px 0;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* .footer__logo--white {
  color: var(--hero-title-color);
} */
.address {
  font-style: normal;
}

.address__location {
  display: block;
  color: var(--hero-title-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  margin-bottom: 9px;
  -webkit-transition: color 250ms var(--animation-cubic);
  transition: color 250ms var(--animation-cubic);
}

.address__location:hover,
.address__location:focus {
  color: var(--accent-color);
}

.address__contacts {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--animation-cubic);
  transition: color 250ms var(--animation-cubic);
}

.address__contacts--mail {
  margin-bottom: 9px;
}

.address__contacts:hover,
.address__contacts:focus {
  color: var(--accent-color);
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__box {
  margin-right: 70px;
}

.social-media__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--hero-title-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.social-media__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--hero-title-color);
  text-transform: uppercase;
  margin-bottom: 20px;
}

.subscribe__input {
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  height: 50px;
  background-color: var(--hero-bcg-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  width: 200px;
  height: 50px;
}

.subscribe__icon {
  margin-left: 10px;
  fill: currentColor;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000000;
  -webkit-transition: background-color 550ms var(--animation-cubic), color 250ms var(--animation-cubic);
  transition: background-color 550ms var(--animation-cubic), color 250ms var(--animation-cubic);
}

.modal__icon {
  fill: currentColor;
}

.modal__close:hover,
.modal__close:focus {
  color: var(--button-bkg-color);
}

.modal-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 4px;
  text-align: left;
}

.modal-thumb {
  position: relative;
  margin-bottom: 10px;
}

.modal-thumb__input {
  width: 448px;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
  -webkit-transition: border-color 250ms var(--animation-cubic);
  transition: border-color 250ms var(--animation-cubic);
}

.modal-thumb__input:focus-within {
  border-color: #2196f3;
}

.modal-thumb__icon {
  position: absolute;
  top: 11px;
  left: 12px;
  fill: currentColor;
  -webkit-transition: color 250ms var(--animation-cubic);
  transition: color 250ms var(--animation-cubic);
}

.modal-thumb__input:focus + .modal-thumb__icon {
  color: #2196f3;
}

.comment__text {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  height: 120px;
  margin-bottom: 25px;
  outline: transparent;
  -webkit-transition: border-color 250ms var(--animation-cubic);
  transition: border-color 250ms var(--animation-cubic);
}

.comment__text:focus-within {
  border-color: #2196f3;
}

.comment-text::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-text::-moz-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-text:-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-text::-ms-input-placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment-text::placeholder {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.policy__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy__input:checked + .policy__icon {
  background: var(--button-bkg-color);
  background-origin: border-box;
  border: none;
  background-image: url(../images/icons.svg/icon\ check.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.policy__icon {
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.policy__label {
  font-size: 14px;
  line-height: 1.71;
  color: var(--text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.policy__contract {
  color: var(--accent-color);
}

.modal-button__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
}

.modal-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms var(--animation-cubic);
  transition: opacity 250ms var(--animation-cubic);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.filter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
  margin-bottom: 50px;
}

.filter-list__button {
  color: var(--basic-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic), -webkit-box-shadow 250ms var(--animation-cubic);
  transition: background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic), -webkit-box-shadow 250ms var(--animation-cubic);
  transition: box-shadow 250ms var(--animation-cubic), background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
  transition: box-shadow 250ms var(--animation-cubic), background-color 250ms var(--animation-cubic), color 250ms var(--animation-cubic), -webkit-box-shadow 250ms var(--animation-cubic);
}

.filter-list--current {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}

.filter-list__item {
  margin-left: 8px;
}

.filter-list__item:first-child {
  margin-left: 0;
}

.filter-list__button:hover,
.filter-list__button:focus {
  color: var(--hero-title-color);
  background-color: var(--button-bkg-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.projects__item {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects__content {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.projects__title {
  color: var(--basic-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.projects__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
}

.projects__decoration {
  text-decoration: none;
}

.projects__decoration:hover,
.projects__decoration:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__thumb {
  position: relative;
  overflow: hidden;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: opacity 250ms var(--animation-cubic), -webkit-transform 250ms var(--animation-cubic);
  transition: opacity 250ms var(--animation-cubic), -webkit-transform 250ms var(--animation-cubic);
  transition: opacity 250ms var(--animation-cubic), transform 250ms var(--animation-cubic);
  transition: opacity 250ms var(--animation-cubic), transform 250ms var(--animation-cubic), -webkit-transform 250ms var(--animation-cubic);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.projects__decoration:hover .actions {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.actions__text {
  font-size: 18px;
  line-height: 1.56;
  color: #ffffff;
}/*# sourceMappingURL=main.css.map */