.clients__list {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  gap: 30px;
}
.clients__item {
  margin-right: 0;

  width: calc((100% - 30px) / 2);

  @include tablet {
    width: calc((100% - 60px) / 3);
  }
  @include desktop {
    width: calc((100% - 150px) / 6);
  }
}
.clients__link {
  max-width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--social-media-color);

  transition: color 250ms var(--animation-cubic),
    background-color 250ms var(--animation-cubic);

  @include tablet {
    max-width: 226px;
  }
  @include desktop {
    max-width: 170px;
  }
}
.clients__icon {
  fill: currentColor;
}

.clients__link:hover,
.clients__link:focus {
  color: var(--button-bkg-color);
  border: 1px solid var(--button-bkg-color);
}
