.filter-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin-bottom: 50px;
}
.filter-list__button {
  color: var(--basic-color);
  background: #f5f4fa;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  cursor: pointer;
  border: none;
  border-radius: 4px;

  transition: box-shadow 250ms var(--animation-cubic),
    background-color 250ms var(--animation-cubic),
    color 250ms var(--animation-cubic);
}
.filter-list--current {
  color: var(--hero-title-color);
  background-color: var(--accent-color);
}

.filter-list__item {
  margin-left: 8px;
}
.filter-list__item:first-child {
  margin-left: 0;
}

.filter-list__button:hover,
.filter-list__button:focus {
  color: var(--hero-title-color);
  background-color: var(--button-bkg-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
