.footer {
  background-color: var(--hero-bcg-color);
  padding: 60px 0;
}
.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

/* .footer__logo--white {
  color: var(--hero-title-color);
} */

.address {
  font-style: normal;
  margin-bottom: 60px;

  @include desktop {
    margin: 0;
  }
}
.footer__box {
  @include desktop {
    text-align: left;
  }
}
.address__location {
  display: block;
  color: var(--hero-title-color);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  // margin-bottom: 9px; D
  margin-bottom: 8px;

  transition: color 250ms var(--animation-cubic);
}
.address__location:hover,
.address__location:focus {
  color: var(--accent-color);
}
.address__contacts {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--animation-cubic);
}
.address__contacts--mail {
  margin-bottom: 9px;
}

.address__contacts:hover,
.address__contacts:focus {
  color: var(--accent-color);
}

.footer__container {
  text-align: center;
  align-items: baseline;

  @include desktop {
    display: flex;
  }
}
.footer-tablet {
  @include tablet {
    display: flex;
    justify-content: center;
  }
  @include desktop {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
  }
}

.social-media {
  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
  @include tablet {
    margin-left: 165px;
    margin-right: 0;
  }
  @include desktop {
    margin-left: 70px;
    margin-right: 93px;
  }

  // @include tablet {
  //   margin: 0;
  // }
  // @include desktop {
  //   margin: 0;
  // }
}

.social-media__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--hero-title-color);
  text-transform: uppercase;
  margin-bottom: 20px;
  @include desktop {
    text-align: left;
  }
}
.social-media__list {
  display: flex;
  justify-content: center;
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}
