.contacts {
  display: none;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
  }
  @include desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
  }
}

.contacts__link {
  color: var(--text-color);
  font-weight: 500;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  text-decoration: none;

  @include desktop {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  transition: color 250ms var(--animation-cubic);
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
  text-align: center;
}
.contacts__icon--tel {
  @include desktop {
    width: 10px;
    height: 16px;
  }
}
.contacts__icon--mail {
  @include desktop {
    width: 16px;
    height: 12px;
  }
}
.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  /* fill: #2196f3; */
}
