body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}
.section-title {
  color: var(--basic-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.section {
  padding: 94px 0;
}
.decoration {
  text-decoration: none;
}
