:root {
  --basic-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --hero-title-color: #ffffff;
  --button-bkg-color: #2196f3;
  --hero-bcg-color: #2f303a;
  --hero-border-bottom: #ececec;
  --social-media-color: #afb1b8;
  --section-team-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}
